# Importing and explore environmental data

In [1]:
def import_csv(file):
    # Read the file into a DataFrame: df
    import pandas as pd
    return pd.read_csv(file)

In [2]:
# Path to the file to be imported
path = "Modelab-Python\data\Terminos_lagoon_TA_DIC_2023_RawData.csv"

# Import the file
CO2Data = import_csv(path)

## Exploring DataFrame

In [3]:
# Print the number of rows and columns in the DataFrame
print(CO2Data.shape)

(106, 21)

In [4]:
# Print the head of the DataFrame
print(CO2Data.head())

   sample      date     estuary   area station layer_depth season  \
0  CDL01S  5/3/2020  Candelaria  River   CDL01     Surface    Dry
1  CDL01F  5/3/2020  Candelaria  River   CDL01      Bottom    Dry
2  CDL02S  5/3/2020  Candelaria  River   CDL02     Surface    Dry
3  CDL02F  5/3/2020  Candelaria  River   CDL02      Bottom    Dry
4  CDL03S  5/3/2020  Candelaria  River   CDL03     Surface    Dry

   chlorophy_microg_l  cond_microsiemens_cm  depth_m  ...  do_mg_l  sal_psu  \
0                0.36                7015.4    0.464  ...     7.12     3.56
1                4.19               29886.1    7.792  ...     4.90    16.97
2                0.92               16691.1    0.453  ...     6.99     8.94
3                2.23               24847.4    1.261  ...     6.52    13.87
4                0.58               46341.6    0.465  ...     6.24    28.06

   sp_cond_microsiemens_cm  turbidity_fnu  temp_c  latitude  longitude  \
0                   6547.7           1.47  28.740  18.55736  -91.25012
1                  27751.2          95.33  29.028  18.55722  -91.24990
2                  15429.1           5.50  29.283  18.61007  -91.24410
3                  23074.0          13.44  29.024  18.61005  -91.24403
4                  43670.8           3.60  28.202  18.63166  -91.29359

   dic_micromol_kg  ta_micromol_kg  dummy_data
0             3915            3863      3685.0
1             3698            3685         NaN
2             3724            3708      3708.0
3             3667            3992      3992.0
4             2928            3023      3023.0

[5 rows x 21 columns]

- Print information about a DataFrame including the index dtype and columns, non-null values and memory usage

In [5]:
# Print information about the DataFrame
print(CO2Data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   sample                   106 non-null    object
 1   date                     106 non-null    object
 2   estuary                  106 non-null    object
 3   area                     106 non-null    object
 4   station                  106 non-null    object
 5   layer_depth              106 non-null    object
 6   season                   106 non-null    object
 7   chlorophy_microg_l       106 non-null    float64
 8   cond_microsiemens_cm     106 non-null    float64
 9   depth_m                  106 non-null    float64
 10  do_percent_sat           106 non-null    float64
 11  do_mg_l                  106 non-null    float64
 12  sal_psu                  106 non-null    float64
 13  sp_cond_microsiemens_cm  106 non-null    float64
 14  turbidity_fnu            106 non-null    float64
 15  temp_c                   106 non-null    float64
 16  latitude                 106 non-null    float64
 17  longitude                106 non-null    float64
 18  dic_micromol_kg          106 non-null    int64
 19  ta_micromol_kg           106 non-null    int64
 20  dummy_data               99 non-null     float64
dtypes: float64(12), int64(2), object(7)
memory usage: 17.5+ KB
None

In [6]:
# Print descriptive statistics
print(CO2Data.describe())

       chlorophy_microg_l  cond_microsiemens_cm     depth_m  do_percent_sat  \
count          106.000000            106.000000  106.000000      106.000000
mean             6.545472          27895.183962    1.830160       89.515094
std             14.941262          20931.232513    2.038739       29.772291
min              0.360000             13.800000    0.105000        1.700000
25%              2.555000           1778.025000    0.428750       84.575000
50%              3.705000          33202.600000    0.638500       97.100000
75%              5.925000          47046.650000    2.883250      105.300000
max            150.900000          59988.600000    8.558000      174.100000

          do_mg_l     sal_psu  sp_cond_microsiemens_cm  turbidity_fnu  \
count  106.000000  106.000000               106.000000     106.000000
mean     6.474340   17.331981             27126.980189     100.429623
std      2.104254   13.578980             20527.530804     290.290113
min      0.120000    0.000000                13.700000       0.880000
25%      5.632500    0.857500              1706.875000       5.950000
50%      6.940000   19.760000             31803.250000      19.090000
75%      7.722500   30.297500             46668.975000      54.762500
max     11.660000   38.780000             58105.000000    2422.930000

           temp_c    latitude   longitude  dic_micromol_kg  ta_micromol_kg  \
count  106.000000  106.000000  106.000000       106.000000      106.000000
mean    26.758755   18.615912  -91.602783      2797.981132     2912.915094
std      0.917242    0.112832    0.240359       499.852416      472.694346
min     24.470000   18.424030  -91.902180      2152.000000     2357.000000
25%     26.062000   18.535825  -91.809810      2452.250000     2585.500000
50%     26.806000   18.610050  -91.786895      2646.500000     2823.000000
75%     27.153250   18.698798  -91.367565      2963.250000     3053.750000
max     29.283000   18.821780  -91.244000      4324.000000     4307.000000

        dummy_data
count    99.000000
mean   2902.888889
std     473.698989
min    2357.000000
25%    2561.500000
50%    2814.000000
75%    3029.000000
max    4307.000000

- Group the data by a categorical column, and calculate the mean and standard deviation of a numerical column

## Missing values in each column.

In [7]:
# Use the Pandas isnull() function to identify the number of missing values in each column.
print(CO2Data.isnull().sum())

sample                     0
date                       0
estuary                    0
area                       0
station                    0
layer_depth                0
season                     0
chlorophy_microg_l         0
cond_microsiemens_cm       0
depth_m                    0
do_percent_sat             0
do_mg_l                    0
sal_psu                    0
sp_cond_microsiemens_cm    0
turbidity_fnu              0
temp_c                     0
latitude                   0
longitude                  0
dic_micromol_kg            0
ta_micromol_kg             0
dummy_data                 7
dtype: int64

### Method to use for filling holes in reindexed Series:

- ffill: propagate last valid observation forward to next valid.

- bfill: use next valid observation to fill gap.

In [8]:
# Create new data frame 
CO2Data_fill = CO2Data.copy()

# Use fill method 
CO2Data_fill = CO2Data_fill.ffill()

In [9]:
print(CO2Data_fill.isnull().sum())

sample                     0
date                       0
estuary                    0
area                       0
station                    0
layer_depth                0
season                     0
chlorophy_microg_l         0
cond_microsiemens_cm       0
depth_m                    0
do_percent_sat             0
do_mg_l                    0
sal_psu                    0
sp_cond_microsiemens_cm    0
turbidity_fnu              0
temp_c                     0
latitude                   0
longitude                  0
dic_micromol_kg            0
ta_micromol_kg             0
dummy_data                 0
dtype: int64

#### Interpolation for filling missing values

In [10]:
# Create a copy of the original DataFrame
CO2Data_fill_linear = CO2Data.copy()

# Convert object columns to best possible dtypes
CO2Data_fill_linear = CO2Data_fill_linear.infer_objects(copy=False)

# Interpolate only numeric columns (ignore non-numeric ones)
numeric_cols = CO2Data_fill_linear.select_dtypes(include='number').columns
CO2Data_fill_linear[numeric_cols] = CO2Data_fill_linear[numeric_cols].interpolate(method='linear')

# Print the number of missing values remaining in each column
print(CO2Data_fill_linear.isnull().sum())

sample                     0
date                       0
estuary                    0
area                       0
station                    0
layer_depth                0
season                     0
chlorophy_microg_l         0
cond_microsiemens_cm       0
depth_m                    0
do_percent_sat             0
do_mg_l                    0
sal_psu                    0
sp_cond_microsiemens_cm    0
turbidity_fnu              0
temp_c                     0
latitude                   0
longitude                  0
dic_micromol_kg            0
ta_micromol_kg             0
dummy_data                 0
dtype: int64

### Exercises:

#### - Create a new column called "TA_DIC_ratio" that is the ratio of TA to DIC

In [11]:
# Create a copy of the original DataFrame
CO2Data_ratio = CO2Data.copy()

# Create a new column "TA_DIC_ratio" as the ratio of TA to DIC
CO2Data_ratio["TA_DIC_ratio"] = CO2Data_ratio["ta_micromol_kg"] / CO2Data_ratio["dic_micromol_kg"]

# Display the first few rows to verify the result
print(CO2Data_ratio[["ta_micromol_kg", "dic_micromol_kg", "TA_DIC_ratio"]].head())

   ta_micromol_kg  dic_micromol_kg  TA_DIC_ratio
0            3863             3915      0.986718
1            3685             3698      0.996485
2            3708             3724      0.995704
3            3992             3667      1.088628
4            3023             2928      1.032445

#### - Calculate the mean and standard deviation of the "TA_DIC_ratio" for each season

In [12]:
# Group the data by season and calculate mean and standard deviation of TA_DIC_ratio
season_stats = CO2Data_ratio.groupby("season")["TA_DIC_ratio"].agg(["mean", "std"])

# Display the result
print(season_stats)

            mean       std
season
Dry     1.058558  0.086111
Rainy   1.022350  0.100924

#### - Calculate the mean and standard deviation of the "TA_DIC_ratio" for each season and area

In [13]:
# Group the data by season and area, then calculate mean and standard deviation of TA_DIC_ratio
season_area_stats = CO2Data_ratio.groupby(["season", "area"])["TA_DIC_ratio"].agg(["mean", "std"])

# Display the result
print(season_area_stats)

                  mean       std
season area
Dry    Coast  1.115766  0.115033
       Plume  1.059687  0.035574
       River  1.000221  0.037747
Rainy  Coast  1.090127  0.129658
       Plume  1.025544  0.049222
       River  0.945217  0.025084

#### - Save the results to an Excel file called "TA_DIC_Season_Areas.xlsx"

In [14]:
# Save the grouped statistics to an Excel file
season_area_stats.to_excel("TA_DIC_Season_Areas.xlsx")